html
    head
        meta(charset="utf-8")
        title iChallange
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        // Bootstrap
        link(href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen")
        // Select box
        link(rel="stylesheet" type="text/css" href="css/bootstrap-select.css")
        // Theme Specific CSS
        link(rel="stylesheet" href="/stylesheets/style.css")
        script(src="js/jquery-1.10.2.min.js")
        //Data Table
        link(rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css") 
        script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
        script(src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js")
.sitecontent
    .container
        .row
            .col-sm-12
                .lobby_table
                    .form_inner
                        #followup_tbl_wrapper.dataTables_wrapper.no-footer
                            table#welcome_tbl.display.responsive.nowrap.dataTable.no-footer.dtr-inline(cellspacing="0" width="100%" role="grid" style="width: 100%;")
                                thead.table_heading
                                    tr(role="row")
                                        th.sorting_disabled.tbl-head.chalange_col Challenges
                                        th.sorting_disabled.tbl-head.style_col Style
                                        th.sorting_disabled.tbl-head.entry_col Entry
                                        th.sorting_disabled.tbl-head.deadline_col Deadline
                                        th.sorting_disabled.tbl-head.manage_col Manager
                                        th.sorting_disabled.tbl-head.refresh_col
                                            a(href="/get_lobby_data") Refresh
                                tbody
                                    - var d = new Date();
                                    - var year= d.getFullYear();
                                    - var month = d.getMonth()+1;
                                    - month = month < 10 ? '0'+month : month;
                                    - var date = d.getDate();
                                    - date = date < 10 ? '0'+date : date;
                                    - var today = year+'-'+month+'-'+date
                                    - var hours = d.getHours();
                                    - var minutes = d.getMinutes();
                                    - var ampm = hours >= 12 ? 'PM' : 'AM';
                                    - hours = hours % 12;
                                    - hours = hours ? hours : 12; // the hour '0' should be '12'
                                    - minutes = minutes < 10 ? '0'+minutes : minutes;
                                    - var strTime = hours + ':' + minutes + '  ' + ampm;
                                    - var j=0;
                                   
                                    for data in test
                                        - var flag=0;
                                        - if((data.invites).length > 0)
                                            - for (d=0; d<(data.invites).length;d++)
                                                - if(user_id==data.invites[d].invitation_user_id)
                                                    -flag=1
                                                - var flag_player=0;
                                            -if(player.length > 0)
                                                - for (d=0; d<player.length;d++)
                                                    - if(user_id==player[d].player_id && data._id == player[d].challenge_id)
                                                        - flag_player=1
                                        if(data.Date > today || data.Date == today)
                                            //- if(data.time > strTime)
                                            tr(role="row")
                                                td
                                                    a.challenge_name(href="/challenge_detail/"+ data._id target="_parent") #{data.challengeName}
                                                td= data.entry
                                                td= data.entry
                                                td= data.Date
                                                td= data.manager
                                                td
                                                    -if(data.user_id == user_id)
                                                        p N/A
                                                    -else
                                                        -if(flag_player==1)
                                                            p N/A
                                                        -else
                                                            -if(data.entry == 'public')
                                                                a(href='/play_challenge/'+data._id target="_parent") enter
                                                            -else
                                                                -if(data.entry == 'private' && flag==1)
                                                                    a(href='/play_challenge/'+data._id) enter
                                                                -else
                                                                    a.private_enter enter          